<div class="alttextcontainer">

<%= image_tag @comments.url %>
<% @comments.comments.each do |comment| %>
<li>
  <span>
  <%= User.find(comment.user_id).username%> wrote:
  </span>
  <br>
  <div class="indent">
    <%= comment.usertext %><br>
  </div>
</li>
<% end %>
<br><br>
<%= form_for @comment do |f| %>
<%= f.label "Comment" %>
<%= f.text_field :usertext %>
<%= f.submit %>
<% end %>
<%= link_to 'Back', pictures_path %>
</div>
