<%= image_tag @comments.url %>
<% @comments.comments.each do |comment| %>
<li><%= comment.usertext %> <%= User.find(comment.user_id).username%></li>
<% end %>

<%= form_for @comment do |f| %>
<%= f.label "Comment" %>
<%= f.text_field :usertext %>
<%= f.submit %>
<% end %>
<%= link_to 'Back', pictures_path %>
