<div class="imgur">
  <div class="navbar">
    <div class="leftbar">
      <div class="logo">PetShow</div>
      <div class="pulldown"><i class="fas fa-chevron-down"></i></div>
      <div class="newpost"></div>
    </div>
    <span class="upload_picture">
      <% if current_user %>
      <%= link_to 'Upload New Picture', new_picture_path %>
      <% end %>
    </span>

    <div class="rightbar">
      <div class="magnify">
        <i class="fas fa-search"></i>
      </div>
      <div class="nextright">
        <p class="userinfo">
          <% if current_user %>
          Signed in as <%= current_user.username %>. <%= link_to "Log out", sessions_path("current"), :method => :delete %>
          <% else %>
          <%= link_to "Log in", new_sessions_path %> or <%= link_to "Sign up", new_users_path %>
          <% end %>
        </p>
      </div>

    </div>
  </div>


  <div class="leftpane">
  </div>
  <div class="textcontainer">
    <p class="greeting">
      PetShow - Show off your pet!<br>
      <span>A collection of our Pets!  </span><i class="fas fa-paw"></i>

    </p>
  </div>

  <div class="mainarea">
    <% @pictures.each do |picture| %>
    <div class="grid">
      <%= picture.title %>
      <%= image_tag(picture.url, width:"100%" )%>
      <% if current_user %>
      <!-- <%= link_to 'Show', picture %> -->
      <%= link_to 'Edit', edit_picture_path(picture) %>
      <%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Comments', comments_path(picture) %>
      <% end %>
    </div>


    <% end %>


    <!-- <div class="grid-tl">
  </div>
  <div class="grid-tlc">

</div>
<div class="grid-tc">

</div>
<div class="grid-trc">

</div>
<div class="grid-tr">

</div>
<div class="grid-ml">

</div>
<div class="grid-mlc">

</div>
<div class="grid-mc">

</div>
<div class="grid-mrc">

</div>
<div class="grid-mr">

</div>
<div class="grid-bl">

</div>
<div class="grid-blc">

</div>
<div class="grid-bc">

</div>
<div class="grid-brc">

</div>
<div class="grid-br">

</div> -->

</div>

<div class="rightpane">
</div>

</div>
</div>
